In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
from collections import Counter

In [7]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(10)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
52,tt0810819,15000000,64191523,The Danish Girl,Eddie Redmayne|Alicia Vikander|Matthias Schoen...,Tom Hooper,Find the courage to be yourself.,When Gerda Wegener asks her husband Einar to f...,120,Drama,Pretty Pictures|Working Title Films|ArtÃ©mis P...,11/27/2015,7.3,2015
657,tt0364970,70000000,72108608,Babylon A.D.,Vin Diesel|Michelle Yeoh|MÃ©lanie Thierry|Lamb...,Mathieu Kassovitz,Kill or be Killed.,In Babylon A.D Vin Diesel stars as a veteran-t...,101,Action|Adventure|Science Fiction|Thriller,StudioCanal|M6 Films|Canal+|CinÃ©CinÃ©ma|Babylon,8/20/2008,5.4,2008
32,tt3682448,40000000,162610473,Bridge of Spies,Tom Hanks|Mark Rylance|Amy Ryan|Alan Alda|Seba...,Steven Spielberg,"In the shadow of war, one man showed the world...","During the Cold War, the Soviet Union captures...",141,Thriller|Drama,DreamWorks SKG|Amblin Entertainment|Studio Bab...,10/15/2015,7.1,2015
1019,tt1646987,150000000,301000000,Wrath of the Titans,Sam Worthington|Liam Neeson|Ralph Fiennes|Rosa...,Jonathan Liebesman,Feel the Wrath,A decade after his heroic defeat of the monstr...,99,Adventure,Legendary Pictures|Thunder Road Pictures|Warne...,3/27/2012,5.5,2012
1557,tt0433442,15000000,11992014,The Return,Adam Scott|Kate Beahan|Sarah Michelle Gellar|P...,Asif Kapadia,The past never dies. It kills.,Joanna Mills has a successful career but feels...,85,Drama|Thriller,Rogue Pictures|Intrepid Pictures|Biscayne Pict...,11/10/2006,5.2,2006
480,tt1213012,20000000,39300000,Alpha and Omega,Hayden Panettiere|Justin Long|Dennis Hopper|Ch...,Anthony Bell|Ben Gluck,A Pawsome 3D Adventure,Two mismatched wolves embark on a cross-countr...,88,Family|Animation,Lions Gate Family Entertainment|Relativity Med...,9/17/2010,5.5,2010
593,tt0246544,40000000,27053815,The Musketeer,Catherine Deneuve|Mena Suvari|Stephen Rea|Tim ...,Peter Hyams,As you've never seen it before.,In Peter Hyams's adaptation of the famous Alex...,104,Action|Adventure|Drama,Crystal Sky Worldwide|MDP Worldwide|ApolloMedi...,9/7/2001,5.1,2001
983,tt0454876,120000000,609016565,Life of Pi,Suraj Sharma|Irrfan Khan|Ayush Tandon|Gautam B...,Ang Lee,Believe The Unbelievable,"The story of an Indian boy named Pi, a zookeep...",127,Adventure|Drama|Action,Ingenious Film Partners|Ingenious Media|Dune E...,11/20/2012,7.1,2012
727,tt1502404,50000000,28931401,Drive Angry,Nicolas Cage|Amber Heard|William Fichtner|Bill...,Patrick Lussier,One hell of a ride.,Milton is a hardened felon who has broken out ...,105,Fantasy|Thriller|Action|Crime,Summit Entertainment|Saturn Films|Nu Image Fil...,2/24/2011,5.3,2011
877,tt0133240,140000000,109578115,Treasure Planet,Joseph Gordon-Levitt|David Hyde Pierce|Emma Th...,Ron Clements|John Musker,Find your place in the universe.,When space galleon cabin boy Jim Hawkins disco...,95,Adventure|Animation|Family|Fantasy|Science Fic...,Walt Disney Pictures|Walt Disney Feature Anima...,11/26/2002,7.0,2002

In [6]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [21]:
answers = {} # создадим словарь для ответов
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [93]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()]
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [27]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
data[data.runtime==data.runtime.max()]
answers['2'] = '2. Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [29]:
data[data.runtime==data.runtime.min()]
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [46]:
round(data.runtime.mean())
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [47]:
round(data.runtime.median())
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
data['profit'] = data.revenue-data.budget

In [48]:
data[data.profit==data.profit.max()]
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [49]:
data[data.profit==data.profit.min()]
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [53]:
len(data[data.revenue>data.budget])
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [58]:
data2 = data.query('release_year == 2008')
data2[data2.profit==data2.profit.max()]
answers['9'] = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [62]:
data3 = data.query('release_year >= 2012 & release_year <= 2014')
data3[data3.profit==data3.profit.min()]
answers['10'] = '5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [79]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres = [len(data[data.genres.str.contains('Drama')]),
len(data[data.genres.str.contains('Comedy')]),
len(data[data.genres.str.contains('Thriller')]),
len(data[data.genres.str.contains('Action')]),
len(data[data.genres.str.contains('Adventure')])]
genres
answers['11'] = '3. Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [80]:
data4 = data.query('profit > 0')
genres = [len(data4[data4.genres.str.contains('Drama')]),
len(data4[data4.genres.str.contains('Comedy')]),
len(data4[data4.genres.str.contains('Thriller')]),
len(data4[data4.genres.str.contains('Action')]),
len(data4[data4.genres.str.contains('Adventure')])]
genres
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [92]:
rich_directors = data.groupby(['director']).sum()
rich_directors[rich_directors.profit==rich_directors.profit.max()]
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [42]:
data5 = data.copy()
data5 = data5[data.genres.str.contains('Action')]
data5.director = data5.director.str.split('|')
data5 = data5.explode('director')
data5.director.value_counts()
answers['14'] = '3. Robert Rodriguez'

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Eli Roth              1
Vic Armstrong         1
Richard Shepard       1
Jimmy Hayward         1
Jon Amiel             1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
data6 = data.query('release_year==2012')
data6[data6.profit==data6.profit.max()]
answers['15'] = '3. Chris Hemsworth'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [43]:
data6_1 = data.copy()
data6_1 = data6_1[data.budget > data.budget.mean()]
data6_1.cast = data6_1.cast.str.split('|')
data6_1 = data6_1.explode('cast')
data6_1.cast.value_counts()
answers['16'] = '3. Matt Damon'

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Samuel L. Jackson    15
                     ..
Linda Cardellini      1
Joseph Fiennes        1
Ed Asner              1
Shuler Hensley        1
Collin Chou           1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [46]:
data7 = data.copy()
data7 = data7[data.cast.str.contains('Nicolas Cage')]
data7.genres = data7.genres.str.split('|')
data7 = data7.explode('genres')
data7.genres.value_counts()
answers['17'] = '2. Action'

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Romance             1
Horror              1
War                 1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:
data_ck = data.copy()
data_ck = data_ck[data.production_companies.str.contains('Paramount Pictures')]
data_ck['profit'] = data_ck.revenue - data_ck.budget
data_ck[data_ck['profit'] == data_ck.profit.min()]
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
df = data.groupby(['release_year']).sum()
df[df['revenue'] == df.revenue.max()]
answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
data_ck = data.copy()
data_ck = data_ck[data.production_companies.str.contains('Warner Bros')]
data_ck['profit'] = data_ck.revenue - data_ck.budget
data_ck = data_ck.groupby(['release_year']).sum()
data_ck[data_ck['revenue'] == data_ck.revenue.max()]
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
len(data[data.release_date.str.match("1/", na=False)]),len(data[data.release_date.str.match("2", na=False)]),len(data[data.release_date.str.match("3", na=False)]),len(data[data.release_date.str.match("4", na=False)]),len(data[data.release_date.str.match("5", na=False)]),len(data[data.release_date.str.match("6", na=False)]),len(data[data.release_date.str.match("7", na=False)]),len(data[data.release_date.str.match("8", na=False)]),len(data[data.release_date.str.match("9", na=False)]),len(data[data.release_date.str.match("10", na=False)]),len(data[data.release_date.str.match("11", na=False)]),len(data[data.release_date.str.match("12", na=False)])
answers['21'] = '4. Сентябрь'

(110, 135, 156, 149, 140, 147, 142, 161, 227, 186, 146, 190)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [28]:
147+142+161
answers['22'] = '2. 450'

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [21]:
df1 = data[data.release_date.str.match("11")]
df2 = data[data.release_date.str.match("1/")]
df3 = data[data.release_date.str.match("12")]
tf = pd.concat([df1, df2, df3])
tf.director = tf.director.str.split('|')
tf = tf.explode('director')
tf.director.value_counts()
answers['23'] = '5. Peter Jackson'

Peter Jackson        8
Clint Eastwood       7
Steven Soderbergh    6
Ron Howard           4
Martin Scorsese      4
                    ..
Malcolm D. Lee       1
Rusty Cundieff       1
Kevin Allen          1
Frederik Du Chau     1
Richard Linklater    1
Name: director, Length: 371, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [5]:
def big(row):
    return len(row['original_title'])

In [8]:
data['big'] = data.apply(big, axis = 1)
data.production_companies = data.production_companies.str.split('|')
data = data.explode('production_companies')
data.groupby(['production_companies']).groups
datag = data.groupby(['production_companies'])['big'].sum().sort_values(ascending=False)
print(datag.head(5))
answers['24'] = "1. Universal Pictures (Universal)"

production_companies
Warner Bros.                              2616
Universal Pictures                        2546
Paramount Pictures                        2078
Twentieth Century Fox Film Corporation    1799
Columbia Pictures                         1722
Name: big, dtype: int64

NameError: name 'answers' is not defined

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [9]:
data1 = data.sort_values(by='vote_average', ascending=False)
print(1889*0.01)
data1.head(18)
answers['26'] = "1. Inside Out, The Dark Knight, 12 Years a Slave"

18.89

NameError: name 'answers' is not defined

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [24]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

NameError: name 'answers' is not defined

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)